    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-4">
                    <h4>Contact</h4>
                    <a href="mailto:{{ site.data.global.email }}">{{ site.data.global.email }}</a>
                </div>

                <div class="col-xs-12 col-md-4">
                    <h4>Social</h4>
                      {% if site.data.global.github_username %}
                        {% include icon-github.html username=site.data.global.github_username %}
                      {% endif %}

                      {% if site.data.global.twitter_username %}
                        {% include icon-twitter.html username=site.data.global.twitter_username %}
                      {% endif %}
                    </ul>
                </div>

                <div class="col-xs-12 col-md-4">
                    <h4>Mission</h4>
                    <p>{{ site.data.global.description }}</p>
                </div>

            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ site.data.global.url }}/js/power.js"></script>
    <script>
      $(function() {
          // open any non local links in new tab
          $.expr[':'].external = function(obj){
            return !obj.href.match(/^mailto\:/)
                 && (obj.hostname != location.hostname)
                 && !obj.href.match(/^javascript\:/)
                 && !obj.href.match(/^$/)
           };
           $('a:external').attr('target', '_blank');

      });
    </script>
    </body>
</html>
